/*NETWORKS STYLES*/

  
.networks-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.networks-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

}