.team {
    background-color: var(--section-team-background);
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
}

// .team.section {
//     @include grid-item;


//     @include mq(tablet) {
//       @include grid-item(2);
//     }

//     @include mq(desktop) {
//       @include grid-item(4);
//     }
//   }

  .team-title {
    font-weight: 700;
    line-height: 1.17;
    font-size: 28px;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width1200px) {
      font-size: 36px;
      margin-bottom: 50px;
    }
    }

.team-list {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

  .team-list__item {
    border-radius: 4px;
    background-color: var(--main-home-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 479px) {
      width: 270px;
    }
  
    @media screen and (min-width: 480px) {
      width: 450px;
    }
  
    @media screen and (min-width: 768px) {
      width: 354px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  .team-list__text {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--main-text-color);
  }
  .team-list__person {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .team-list__content {
    padding: 30px 0px;
  }
  
  /*NETWORKS STYLES*/
  
   .team-networks {
    border-radius: 50%;
    color: var(--networks-icon-color);
  
    transition: background-color var(--time) var(--cubic),
      color var(--time) var(--cubic);

      &:hover,
      &:focus {
        background-color: var(--button-hero-active);
        color: var(--main-home-color);
      }
  }
  
  .networks-list__icon {
    fill: currentColor;
    &:not(:last-child) {
        margin-right: 10px;
      }
  }
 