:root {
    --main-home-color: #ffffff;
    --main-text-color: #757575;
    --title-text-color: #212121;
    --button-hero-color: #2196f3;
    --button-hero-active: #188ce8;
    --hero-bg-color: #2f303a;
    --title-studio-color: #2f303a;
    --section-team-background: #f5f4fa;
    --networks-icon-color: #afb1b8;
    --features-bg-color: #f5f4fa;
    --fortfolio-filter-color: #f5f4fa;
    --line-border-color: #ececec;
    --card-border-color: #eeeeee;
    --clients-color-logo: #afb1b8;
    --footer-color-contact: rgba(255, 255, 255, 0.6);
    --footer-submit-icon-color: rgba(255, 255, 255, 1);
    --modal-button-submit-color: rgba(255, 255, 255, 1);
    --modal-btn-submit-bg: rgba(33, 150, 243, 1);
    --footer-button-submit-bg: rgba(33, 150, 243, 1);
    --clients-border-color: #afb1b8;
    --textarea-color: rgba(33, 33, 33, 0.2);
    --form-active-color: #2196f3;
    --modal-bg-color: rgba(0, 0, 0, 0.2);
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
  }
  
  body {
    color: var(--title-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
  }
  