h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
button {
  padding: 0;
  border: 0;
  cursor: pointer;
}
ul {
  list-style: none;
}